body{
    margin : 0;
    height: 100vh;
    background-color: #eee;
}
a{
    text-decoration: none;
    color: black;
}

#info-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 1.7;
}

#header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    border-bottom: 5px solid black;
}
#header-container button{
    margin-right: 80px;
    width: 150px;
    height: 50px;
    font-size: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(43, 43, 43);
    color: black;
    transition: border 0.05s ease;
}
#header-container button:hover{
    border-bottom: 4px solid rgb(17, 127, 5);
}
h1{
    font-size: 50px;
    padding-left: 10px;
}
#tracker-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    height: 200px;
    overflow: hidden;
    box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, 0.237);
    transition: height 0.3s ease;
}
#tracker-button{
    height: 80px;
    width: 250px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
#tracker-button:hover{
    background-color: rgb(36, 186, 245);
}
#tracker-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
    font-size: 40px;
}

#tracker-box label{
    margin-top: 20px;
    margin-bottom: 20px;
}
#tracker-box input{
    height: 40px;
    width: 200px;
    border-radius: 8px;
    text-align: center;
    font-size: 25px;
}
#tracker-box button{
    height : 50px;
    width : 200px;
    border-radius : 10px;
    font-size: 20px;
    font-weight: 500;
    color: #E8E6E3;
    cursor: pointer;
    background-color: #08565A;
    transition : box-shadow 0.2s ease;
}
#tracker-box button:hover{
    box-shadow: 1px 1px 2px 3px #11a2aa84 ;
}
#tracker-fields{
    display: flex;
    gap: 40px;
}
.tracker-input{
    display: flex;
    flex-direction: column;
}